/* General */
p, a {
  font-family: "Gotham", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  margin: 20px auto;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

a:hover {
  text-decoration: none;
}

/*
* Navbar
*/
.uk-navbar-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.uk-navbar-center:only-child {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  flex-wrap: wrap;
}
.uk-navbar-nav li {
  margin-right: 30px;
  margin-left: 30px;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: white;
}
.uk-navbar-nav li.uk-active > a {
  color: #5CA698;
  font-weight: bold;
}
.uk-navbar-nav li > a {
  font-size: 16px;
  color: #555;
  font-family: "Gotham", sans-serif;
  text-align: center;
}
.uk-navbar-center {
  margin: 0 auto;
}

/*
* sticky footer
*/
html {
  height: 100%;
}
body {
  display: flex ;
  flex-direction: column;
  height: 100%;
}
.uk-offcanvas-content {
  flex: 1 0 auto;
}

.wall-notifications,
.wall-notification {
  display: none!important;
}

/*
* Footer
*/
footer {
  min-height: 30px;
}
footer a {
  color: white;
  font-size: 16px;
}
.footer-border {
  height: 100px;
  background-color: #5CA698;
  text-align: center;
  border-width: 1px;
  border-top: solid #333;
}
.footer-border a {
  margin-top: 35px;
  display: block;
  font-family: "Gotham", sans-serif;
  font-weight: bold;
}
.footer-border a:hover {
  color: white;
  text-decoration: underline;
}

.uk-responsive-width {
  max-width: 100%!important;
  height: auto;
  box-sizing: border-box;
}

/* Others */

#hamburger {
  margin: 20px;
}

/* INTRO BAND */

.welcome-image {
  position: relative;
  max-height: 700px;
  height: 500px;
  overflow: hidden;
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.1)
    ),
    url(images/together.jpg);
  background-size: cover;
  background-position: center;
}
.welcome-image h2 {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;

  text-align: center;
  font-size: 90px;
  font-family: 'starlight', cursive;
  line-height: 70px;
  color: #49c5b6;
  color: white;
}

.band-intro {
  max-width: 960px;
  margin: 4em auto;
  padding: 20px;
}
.band-intro p {
  font-size: 20px;
  text-align: center;

  font-size: 16px;
  color: #6c6d70;
  line-height: 1.8;
}

/* BARBECUE & BRUNCH BANDS */

.band-image {
  position: relative;
  max-height: 500px;
  overflow: hidden;
  height: 500px;
}
.faroles {
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7)
    ),
    url(images/faroles.jpg);
  background-size: cover;
}
.brunch {
  background:
    linear-gradient(
      to bottom,
      rgba(0, 100, 10, 0.1),
      rgba(0, 0, 0, 0.9)
    ),
    url(images/brunch.jpg);
  background-size: cover;
}
.band-image .card {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 80px;
  left: 0;
  right: 0;
  max-width: 500px;
}
.band-image h2 {
  color: white;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Josefin Sans', cursive;
  text-shadow: 0 1px 0 black;
}
.band-image p {
  color: white;
  text-align: center;
  max-width: 500px;
  text-shadow: 0 1px 0 black;
  color: #fafafa;
  line-height: 1.8;
}

/* WEDDING BAND */

.band-odd {
  margin: 6em auto;
  text-align: center;
}
.band-odd .card {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.band-odd img {
  width: 300px;
  margin-top: -50px;
}
.band-odd h2 {
  font-size: 120px;
  margin: 0;
  text-transform: capitalize;
  font-family: 'starlight', cursive;
  display: inline;
}
.band-odd p {
  max-width: 800px;
  font-size: 16px;
  color: #6c6d70;
  line-height: 1.8;
  margin-bottom: 20px;
}


/* GET THERE & SLEEPING BAND */

.band-full {
  max-width: 800px;
  margin: 6em auto;
  text-align: center;
}
.card-side {
  width: 15%;
  padding-top: 4em;
  padding-left: 4em;
  padding-right: 4em;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.card-side h2 {
  font-size: 24px;
  font-family: 'Josefin Sans', cursive;
  color: #555;
  margin: 0;
  margin-top: 0.5em;
}
.card-side:first-child {
  margin-right: 20px;
}

/* SPOTIFY BAND */

.color {
  overflow: hidden;
  height: 500px;

  background-color: #eaeaea;
  text-align: center;
  background:
    linear-gradient(
      to bottom,
      rgba(0, 100, 50, 0.7),
      rgba(0, 0, 0, 0.3)
    ),
    url(images/watercolor.jpg);
  background-size: cover;
}
.band {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.color p {
  margin-top: 6em;
  margin-bottom: 40px;
  color: white;
}
.playlists {
  display: inline-block;
}
.color .playlist {
  width: 100%;
  text-align: left;
}
.color .playlist.first {
  margin-bottom: 2em;
}
.playlist img {
  width: 60px;
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 1em;
}
.playlist h3 {
  color: white;
  display: inline;
  border-width: 3px;
  border: solid white;
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px;
}
.band a {
  color: white!important;
  text-decoration: underline;
  font-weight: bold;
}
.playlist a:hover h3 {
  transition: all 0.4s ease;
  background-color: #1CB04A;
}

/* fonts */
@font-face {
  font-family: "Gotham";
  src: url('../fonts/Gotham-Book.eot?1439448704');
  src: url('../fonts/Gotham-Book.eot?&1439448704#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff?1439448706') format('woff'), url('../fonts/Gotham-Book.ttf?1439448704') format('truetype'), url('../fonts/Gotham-Book.svg?1439448706') format('svg');
  font-weight: 500;
}
@font-face {
  font-family: "starlight";
  src: url('../fonts/starlight.woff?1439448724') format('woff');
  font-weight: 700;
}

/*
 * Info util
*/
.segovia {
  position: relative;
  max-height: 700px;
  height: 500px;
  overflow: hidden;
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/segovia2.jpg);
  background-size: cover;
  background-position: center top;
}

.text {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 3em;
}
.text ul {
  list-style-type: none;
  margin-left: 30px;
  margin-bottom: 40px;
}
.text ul li {
  margin-bottom: 15px;
}

.map-container {
  margin-top: 40px;
	height: 0;
	overflow: hidden;
  padding-bottom: 60%; /* aspect ratio */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
	position: relative;
}
  .map-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }


/*
* Alojamiento
*/
#map {
  position: relative;
  max-height: 700px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  overflow: hidden;
  background:
    url(/images/mapa_real_zonas_3.jpg);
  background-size: cover;
  background-position: center;
}

.band-accommodation {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.events-center {
  text-align: center;
}
  .events {
    display: inline-block;
  }
  .events span {
    float: left;
  }
  .events .event-type {
    width: 100px;
    clear: both;
    text-align: right;
    margin-right: 20px;
  }
  .events .event-date {
    width: 200px;
    text-align: center;
    margin-right: 20px;
  }
  .events .event-place {
    width: 200px;
    text-align: left;
  }
  .events .event-slash {
    text-align: right;
  }

.band-accommodation h2 {
  font-size: 24px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 10px;
  float: left;
}
.band-accommodation p {
  clear: both;
}
.band-accommodation.title {
  height: 80px;
}
.zone {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 8px;
  float: left;
}
.zone-blue {
  background: #A4C9CA!important;
}
.zone-red {
  background: #E7BBBE!important;
}
.zone-yellow {
  background: #E1C5A1!important;
}

.band-accommodation .hotel-or-not,
.helpful-info {
  font-family: 'starlight', cursive;
  font-size: 70px;
  color: #333;
  text-align: center;
  float: none;
}

/*
 * Card
*/

 /* https://codepen.io/andytran/pen/BNjymy */
.container:before,
.container:after {
  content: '';
  display: block;
  clear: both;
}
.container .column {
  width: 50%;
  padding: 0 25px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 40px;
}
.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 470px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
.post-module .thumbnail {
  background: #000000;
  height: 400px;
  overflow: hidden;
}
.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-module .post-content .category {
  position: absolute;
  top: -25px;
  left: 0;
  background: #e74c3c;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #888;
  font-size: 20px;
  font-weight: 400;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
  margin: 0;
}
a .post-module:hover  .post-content {
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}
.post-module .booked {
  color: #e74c3c;
}
.post-module .available {
  color: #419085;
}


/*
 * Confirmación
*/
.cognito {
  margin-top: 40px;
}
.cognito .c-title h3 {
  font-family: 'Josefin Sans', cursive!important;
  margin-top: 20px;
}
.cognito .c-forms-form .c-label {
  font-family: "Gotham", sans-serif!important;
  font-size: 0.9em!important;
  font-weight: 400;
}
.cognito .c-forms-form select,
.cognito .c-forms-form input[type=text],
.cognito .c-forms-form input[type=password],
.cognito .c-forms-form textarea {
  font-family: "Gotham", sans-serif!important;
  font-size: 1.2em!important;
}
.cognito .c-forms-form .c-editor,
.cognito .c-forms-form .c-rating-scale-questions {
  font-family: "Gotham", sans-serif!important;
}
.cognito .c-forms-form input[type=radio]:checked + *:before {
  background: #63A49C!important;
}
.cognito .c-forms-form button,
.cognito .c-forms-form .c-add-item,
.cognito .c-forms-form input[type=button],
.cognito .c-forms-form .c-fileupload-dropzone .c-upload-button {
  font-family: "Gotham", sans-serif!important;
}
.cognito .c-action {
  margin-top: 15px;
  float: right!important;
}
div .c-field[data-field="PonAquíCualquierCosaQueNosQuierasDecir"] {
  margin-top: 25px;
}
.cognito .c-forms-form input[type=text],
.cognito .c-forms-form input[type=password],
.cognito .c-forms-form textarea,
.cognito .c-forms-form select,
.cognito .c-forms-form .c-repeating-section-container,
.cognito .c-forms-form .c-background-highlight,
.cognito .c-forms-form .c-fileupload-dropzone .c-upload-button,
.cognito .c-forms-form .c-button,
.cognito .c-forms-form .c-add-item,
.cognito.c-payment .c-payment-field {
  padding: 10px!important;
}

.cognito .c-field:not([data-field="CuántosSois"]).c-error>.c-validation {
  text-indent: -9999px;
}
.cognito .c-validation {
  font-family: "Gotham", sans-serif!important;
  background: #DA4967!important;
  padding: 0px 10px 10px 10px!important;
}
.cognito .c-field[data-field="CuántosSois"] .c-validation {
  padding: 10px 10px!important;
}
.cognito .c-forms-form .c-field:not([data-field="CuántosSois"]) .c-validation:after {
  content: 'Campo obligatorio';
  text-indent: 0;
  display: block;
}
.cognito .c-forms-form .c-forms-confirmation-message p {
  font-family: 'starlight', cursive!important;
  font-size: 50px!important;
  text-align: center;
  color:#5CA698;
}
.cognito .c-section > .c-validation {
  display: none!important;
}


.confirmacion {
  max-width: 800px;
  margin: 3em auto;
}
.confirmacion h2 {
  font-family: 'starlight', cursive;
  font-size: 70px;
  text-align: center;
}
.confirmacion .cognito {
  padding-left: 40px;
  padding-right: 40px;
}

.confirmation {
  position: relative;
  max-height: 700px;
  height: 500px;
  overflow: hidden;
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/invitacion3.jpg);
  background-size: cover;
  background-position: center;
}

/* honeymoon */
.honeymoon {
  margin-top: 50px;
}
.polinesia {
  position: relative;
  max-height: 700px;
  height: 500px;
  overflow: hidden;
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.1)
    ),
    url(/images/polinesia.jpg);
  background-size: cover;
  background-position: center top;
}
.thanks {
  text-align: center;
  font-family: 'starlight', cursive;
  font-size: 120px;
  color: #333;
}
.account {
  text-align: center;
  font-size: 15px;
}